<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Mercato libero</h3>
    <p>
      Il periodo dell’asta per un <b>giocatore svincolato</b>, salvo indicazioni
      eccezionali dell’amministratore, inizia generalmente alle
      <b>12:00 del martedì</b> e termina alle <b>14:00 del mercoledì</b>, è però
      possibile fare la prima offerta per un giocatore solo dalle 12:00 del
      martedì alle 22:00 del martedì, dalle 22:00 del martedì alle 14:00 del
      mercoledì possono solo esclusivamente esser fatti rilanci per i giocatori
      per cui è già stata fatta almeno un’offerta.
    </p>
    <p>
      Per effettuare uno <b>scambio rosa-primavera</b> invece il periodo è dalle
      <b>12:00 del martedì</b> fino alle <b>22:00 del mercoledì</b>.
    </p>
    <p>
      Si ricorda che ogni nuovo acquisto può essere spostato dalla primavera
      alla rosa, solo se è terminata l’asta e quindi quel giocatore è
      effettivamente stato comprato.
    </p>
    <p>
      Esiste il gruppo WhatsApp apposito, dove non è necessario dire “lascio”,
      ma sarà sufficiente non rispondere.
    </p>
    <p>
      Quando c’è il turno infrasettimanale, o soste più lunghe del solito, per
      l’effettuazione e la durata dell’asta verranno date comunicazioni di volta
      in volta.
    </p>
    <p>
      Per evitare eventuali scorrettezze, nel caso di un rilancio effettuato
      nell’ultima ora e mezzo l’asta prosegue in modo da fornire il tempo
      necessario a chi aveva fatto l’offerta precedente per rilanciare (<b
        >1 ora e mezza dall’ultimo rilancio</b
      >).
    </p>
  </ion-card>
</ion-content>
