<ion-header>
  <ion-toolbar>
    <ion-title>Scambi e Trattative</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Finestre di mercato</h3>
    <p>
      Scambi e trattative sono possibili tra fantallenatori solo in determinati
      periodi: dall’uscita delle quotazioni della Gazzetta fino al giorno
      dell’asta di settembre, a novembre (date da stabilire), dal 1° gennaio al
      giorno dell'asta di gennaio.
    </p>
  </ion-card>
</ion-content>
