<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Valore giocatore</h3>
    <p>
      <b
        >Il valore del giocatore viene calcolato in funzione del prezzo di
        acquisto e del differenziale nel tempo del costo base in fanta-milioni
        della Fantacalcio.it.</b
      >
    </p>
    <p>
      Il prezzo d’acquisto, che inizialmente corrisponde al valore, viene
      modificato, nel momento della rivalutazione, di una percentuale pari alla
      variazione della quotazione fornita dal sito Fantacalcio.it.
    </p>
    <p>
      La rivalutazione ha luogo il giorno successivo all’ultima partita della
      giornata (è quindi possibile considerare i valori aggiornati due giorni
      dopo l’ultima partita di giornata o dopo la relativa comunicazione).
    </p>
  </ion-card>
</ion-content>
