<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio Giocatore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [ngClass]="{
  'goalKeeperBackG' : player?.role == 'P', 
  'defenderBackG' : player?.role == 'D', 
  'midfielderBackG' : player?.role == 'C', 
  'attackBackG' : player?.role == 'A'}"
  [scrollEvents]="true"
>
  <div>
    <ion-card>
      <img src="{{player?.img}}" alt="" />
      <ion-grid>
        <ion-row>
          <ion-col>
            <strong> Nome </strong>
          </ion-col>
          <ion-col> {{player?.name}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Squadra </strong>
          </ion-col>
          <ion-col> {{player?.team}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Età </strong>
          </ion-col>
          <ion-col> {{player?.age }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Nazionalità </strong>
          </ion-col>
          <ion-col> {{player?.nationality}} </ion-col>
        </ion-row>
        <!--
      <ion-row>
        <ion-col>
          <strong> Ruolo </strong>
        </ion-col>
        <ion-col> {{player?.roleDetail}} </ion-col>
      </ion-row>-->
        <ion-row>
          <ion-col>
            <strong> Piede </strong>
          </ion-col>
          <ion-col> {{player?.mainFoot}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Altezza </strong>
          </ion-col>
          <ion-col> {{player?.height}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <strong> Valore </strong>
          </ion-col>
          <ion-col> {{player?.value | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Valore iniziale </strong>
          </ion-col>
          <ion-col> {{player?.originValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Costo acquisto/rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.paymentValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Tipologia contratto </strong>
          </ion-col>
          <ion-col> {{player?.contractType}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Prossimo rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.nextContractRenewal *100 | round }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Prossima spesa rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.nextPaymentValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Quotazione </strong>
          </ion-col>
          <ion-col> {{player?.quot}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Quotazione iniziale </strong>
          </ion-col>
          <ion-col> {{player?.originQuot}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="padding-top: 15px">
            <ion-label>
              <strong>Statistiche</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select
              (ionChange)="onChange($event)"
              placeholder="Scegli una Stagione"
              value="{{season}}"
              class="px-0 py-0"
            >
              <ion-select-option
                value="{{stats?.season}}"
                *ngFor="let stats of order(player?.stats)"
                >Stagione {{stats?.season}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <div *ngIf="stats">
          <ion-row>
            <ion-col>
              <strong> Squadra </strong>
            </ion-col>
            <ion-col> {{stats?.team}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Partite giocate </strong>
            </ion-col>
            <ion-col> {{stats?.pg}} </ion-col>
          </ion-row>
          <ion-row *ngIf="!(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Gol </strong>
            </ion-col>
            <ion-col> {{stats?.gf}} </ion-col>
          </ion-row>
          <ion-row *ngIf="!(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Assist </strong>
            </ion-col>
            <ion-col> {{stats?.ass}} </ion-col>
          </ion-row>
          <ion-row *ngIf="(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Gol subiti </strong>
            </ion-col>
            <ion-col> {{stats?.gs}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Autogol </strong>
            </ion-col>
            <ion-col> {{stats?.aut}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Cartellini gialli </strong>
            </ion-col>
            <ion-col> {{stats?.amm}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Cartellini rossi </strong>
            </ion-col>
            <ion-col> {{stats?.esp}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Mediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mv | round}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Percentile Mediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mvt * 100| round}}%</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> FantaMediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mf | round}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Percentile FantaMediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mft * 100 | round}}%</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
