<ion-header>
  <ion-toolbar>
    <ion-title
      >{{player?.name | formatName}}
      <ng-container *ngIf="player?.team"
        >({{player?.team}})</ng-container
      ></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content
  [ngClass]="{
  'goalKeeperBackG' : player?.role == 'P', 
  'defenderBackG' : player?.role == 'D', 
  'midfielderBackG' : player?.role == 'C', 
  'attackBackG' : player?.role == 'A'}"
  [scrollEvents]="true"
>
  <div>
    <ion-card>
      <img src="{{player?.img}}" alt="" />
      <ion-grid>
        <!--
        <ion-row>
          <ion-col>
            <strong> Nome </strong>
          </ion-col>
          <ion-col> {{player?.name | formatName}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Squadra </strong>
          </ion-col>
          <ion-col> {{player?.team}} </ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col>
            <strong> Ruolo </strong>
          </ion-col>
          <ion-col> {{player?.roleDetail | role}} </ion-col>
        </ion-row>
        <ion-row>
          <!--
          <ion-col>
            <ion-row><p class="p-fg">{{player?.nationality }}</p></ion-row>
            <ion-row> <strong class="b-fg"> Nazionalità </strong></ion-row>
          </ion-col>-->
          <ion-col>
            <ion-row><p class="p-fg">{{player?.age }}</p></ion-row>
            <ion-row> <strong class="b-fg"> Età </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row><p class="p-fg">{{player?.mainFoot | foot}}</p></ion-row>
            <ion-row> <strong class="b-fg"> Piede </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row><p class="p-fg">{{player?.height }}</p></ion-row>
            <ion-row> <strong class="b-fg"> Altezza </strong></ion-row>
          </ion-col>
        </ion-row></ion-grid
      ></ion-card
    ><ion-card
      ><ion-grid
        ><ion-row>
          <ion-col>
            <ion-row
              ><p class="p-fg">{{player?.value | currency:'EUR'}}</p></ion-row
            >
            <ion-row> <strong class="b-fg"> Valore </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row
              ><p class="p-fg">
                {{player?.originValue | currency:'EUR'}}
              </p></ion-row
            >
            <ion-row> <strong class="b-fg"> Valore Iniziale </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row
              ><p class="p-fg">
                {{player?.paymentValue | currency:'EUR'}}
              </p></ion-row
            >
            <ion-row>
              <strong class="b-fg"> Costo acq./rinnovo </strong></ion-row
            >
          </ion-col>
          <ion-col>
            <ion-row
              ><p class="p-fg">{{player?.contractType | contract}}</p></ion-row
            >
            <ion-row> <strong class="b-fg"> Tipo contratto </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row
              ><p class="p-fg">
                {{player?.nextContractRenewal *100 | round }}%
              </p></ion-row
            >
            <ion-row> <strong class="b-fg"> Prossimo rinnovo </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row
              ><p class="p-fg">
                {{player?.nextPaymentValue | currency:'EUR'}}
              </p></ion-row
            >
            <ion-row>
              <strong class="b-fg"> Prossima spesa rinnovo </strong></ion-row
            >
          </ion-col>
          <ion-col>
            <ion-row><p class="p-fg">{{player?.quot}}</p></ion-row>
            <ion-row> <strong class="b-fg"> Quotazione </strong></ion-row>
          </ion-col>
          <ion-col>
            <ion-row><p class="p-fg">{{player?.originQuot}}</p></ion-row>
            <ion-row>
              <strong class="b-fg"> Quotazione Iniziale </strong></ion-row
            >
          </ion-col>
        </ion-row>

        <!--
      <ion-row>
        <ion-col>
          <strong> Ruolo </strong>
        </ion-col>
        <ion-col> {{player?.roleDetail}} </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <strong> Valore </strong>
          </ion-col>
          <ion-col> {{player?.value | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Valore iniziale </strong>
          </ion-col>
          <ion-col> {{player?.originValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Costo acquisto/rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.paymentValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Tipologia contratto </strong>
          </ion-col>
          <ion-col> {{player?.contractType}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Prossimo rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.nextContractRenewal *100 | round }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Prossima spesa rinnovo </strong>
          </ion-col>
          <ion-col> {{player?.nextPaymentValue | currency:'EUR'}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Quotazione </strong>
          </ion-col>
          <ion-col> {{player?.quot}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Quotazione iniziale </strong>
          </ion-col>
          <ion-col> {{player?.originQuot}} </ion-col>
        </ion-row>-->
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col style="padding-top: 15px">
            <ion-label>
              <strong>Statistiche</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select
              (ionChange)="onChange($event)"
              placeholder="Scegli una Stagione"
              value="{{season}}"
              class="px-0 py-0"
            >
              <ion-select-option
                value="{{stats?.season}}"
                *ngFor="let stats of order(player?.stats)"
                >Stagione {{stats?.season}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <div *ngIf="stats">
          <ion-row>
            <ion-col>
              <strong> Squadra </strong>
            </ion-col>
            <ion-col> {{stats?.team}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Partite giocate </strong>
            </ion-col>
            <ion-col> {{stats?.pg}} </ion-col>
          </ion-row>
          <ion-row *ngIf="!(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Gol </strong>
            </ion-col>
            <ion-col> {{stats?.gf}} </ion-col>
          </ion-row>
          <ion-row *ngIf="!(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Assist </strong>
            </ion-col>
            <ion-col> {{stats?.ass}} </ion-col>
          </ion-row>
          <ion-row *ngIf="(player?.roleDetail)?.includes('porta')">
            <ion-col>
              <strong> Gol subiti </strong>
            </ion-col>
            <ion-col> {{stats?.gs}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Autogol </strong>
            </ion-col>
            <ion-col> {{stats?.aut}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Cartellini gialli </strong>
            </ion-col>
            <ion-col> {{stats?.amm}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Cartellini rossi </strong>
            </ion-col>
            <ion-col> {{stats?.esp}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Mediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mv | round}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Percentile Mediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mvt * 100| round}}%</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> FantaMediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mf | round}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong> Percentile FantaMediavoto </strong>
            </ion-col>
            <ion-col> {{stats?.mft * 100 | round}}%</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
