<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    ><ion-card-body>
      <h3>Rinnovo giocatori</h3>
      <p>
        Il periodo in cui sarà possibile rinnovare un giocatore inizia il giorno
        di uscita delle quote di Fantacalcio.it e finisce 3 giorni prima
        dell’asta estiva.
      </p>
      <p>
        Il rinnovo annuale resta valido anche se il giocatore viene venduto ad
        un'altra società.
      </p>
      <p>
        Il rinnovo costa il <b>66,7%</b> del valore del giocatore il primo anno
        ed aumenta, secondo le aliquote della tabella, con il passare delle
        stagioni.
      </p>
      <ion-grid class="ion-margin">
        <ion-row>
          <ion-col>I Rinnovo</ion-col>
          <ion-col>66,7%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>II Rinnovo</ion-col>
          <ion-col>85%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>III Rinnovo</ion-col>
          <ion-col>110%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>IV Rinnovo</ion-col>
          <ion-col>145%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>V Rinnovo</ion-col>
          <ion-col>200%</ion-col>
        </ion-row>
      </ion-grid>
      <p>
        <b
          >Il costo del rinnovo, a parità di valore, aumenta con il passare del
          tempo.</b
        >
      </p>
      <p>
        È chiaro che se il giocatore dopo essere stato venduto o svincolato,
        torna nella squadra in cui aveva già giocato, il rinnovo l’anno
        successivo riparte dalla prima aliquota. <br />
        Dal sesto in poi il costo non cambia e resta uguale al 200% del valore.
      </p>
      <p>
        Quando la percentuale del rinnovo supera il 100%, rinnovare un giocatore
        implica modificare il suo valore. <br />
        La cifra spesa per il rinnovo diverrà il nuovo valore del giocatore
        correlato alla quotazione di Fantacalcio.it del momento del rinnovo.
      </p>
      <p>
        <b>Esempio:</b> Voglio rinnovare per il terzo anno consecutivo un
        giocatore il cui valore è 10€ correlato ad una quotazione di
        Fantacalcio.it di 10 fanta-milioni. La spesa del rinnovo e di
        conseguenza in nuovo valore sarà quindi 10€×110%=11€ che si collega alla
        quotazione 10 fanta-milioni. L’anno successivo, se la quotazione non
        cambia, la spesa del rinnovo e il conseguente nuovo valore sarà
        11€×145%=15,95€.
      </p>
      <p>
        I giocatori ai quali non si intende rinnovare il contratto possono
        essere comunicati già dalla fine del campionato precedente, questo per
        facilitare acquisti e scambi da parte dei fantallenatori e cominciare a
        far spazio nella rosa e nella primavera. <br />
        Da quel momento in poi, fino all’asta estiva è possibile, pur non
        superando il limite di 30 giocatori, non rispettare il numero minimo di
        giocatori da tenere in rosa.
      </p>
      <p>
        <b
          >Un giocatore che viene scambiato durante la sessione estiva deve
          essere rinnovato obbligatoriamente.</b
        >
        <br />Tale rinnovo può essere ufficializzato dall’ex o dal nuovo
        proprietario a discrezione delle parti in gioco.
      </p>

      <p>
        Il costo del rinnovo viene sempre arrotondato in modo da essere un
        multiplo di 0,10€. <br />
        Quindi il costo minimo possibile di un rinnovo è 0,10€.
      </p>

      <p>
        <b>Esempio di arrotondamento:</b> Se il costo del rinnovo avrà la parte
        centesimale più piccola di 0,15€ si arrotonderà a 0,10€, altrimenti a
        0,20€. Conta dunque anche il centesimo durante l’arrotondamento,
        l’importante è che la cifra da versare abbia uno 0 dopo i decimi.
      </p>
      <p>
        Un presidente che non ha rinnovato il contratto a un determinato
        giocatore, come abbiamo già detto, liberando il giocatore, in un periodo
        che inizia dalla fine del campionato precedente e termina 3 giorni prima
        dell’asta di settembre, può comunque partecipare liberamente all’asta
        per quello stesso giocatore come se non l’avesse mai avuto e quindi può
        ricomprarlo a un prezzo inferiore (o anche superiore se lo desidera…) a
        quello che sarebbe stato il costo di un eventuale rinnovo.
      </p>
      <p>
        Nel caso si voglia rescindere il contratto di un giocatore durante
        l’annata fanta-calcistica (ad esempio per i motivi visti in precedenza,
        come il voler partecipare a un asta per uno svincolato e si possieda
        tutta la primavera occupata), bisogna pagare <b>1€</b> indipendentemente
        dal prezzo di acquisto del giocatore, per svincolarlo (incrementando
        anch’essi il montepremi finale).
      </p>
    </ion-card-body></ion-card
  >
</ion-content>
