<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    ><ion-card-body>
      <h3>Rimborsi</h3>
      <p>
        Nel caso un giocatore venga venduto all’estero (o Serie B) nel mese di
        gennaio al presidente verranno restituiti il
        <b>50%</b> dei soldi spesi nei seguenti casi:
      </p>
      <ul>
        <li>Giocatore rinnovato ad inizio anno</li>
        <li>Giocatore acquistato nell’asta di inizio anno</li>
        <li>
          Giocatore acquistato nel mercato svincolati
          <b>se entro il 15 novembre</b>
        </li>
      </ul>
      <p>
        Per un giocatore venduto a gennaio (nel mercato “reale”) e comprato nel
        mercato svincolati <b>dopo il 15 novembre</b> verranno restituiti il
        <b>75%</b>dei soldi spesi.
      </p>
      <p>
        Se un giocatore lascia la Serie A <b>dopo il 28 febbraio</b>, non
        riceverà soldi indietro, ma lo spostamento rosa-primavera sarà comunque
        gratuito.
      </p>
      <p>
        Nel caso un giocatore reale venga venduto all’estero nei mesi di giugno,
        luglio e agosto (pre-asta quindi) il presidente, se era intenzionato a
        rinnovare il contratto, semplicemente può non rinnovarlo.
      </p>
      <p>
        Se il giocatore rinnovato o comprato nell’asta di settembre viene
        venduto prima di ottobre il presidente recupera per intero la quota
        spesa.
      </p>

      <p>
        Oltre a queste tipologie di rimborso, che sostanzialmente rendono all’ex
        proprietario una parte dei soldi già spesi ad inizio anno, ne esiste un
        altro tipo che consiste in una sorta di <b>indennizzo</b>.
      </p>
      <p>
        Questo corrisponde al <b>20%</b> del valore del giocatore
        indipendentemente dal momento in cui viene venduto ma, al contrario dei
        rimborsi precedenti, può essere reinvestito solamente alla prima asta
        successiva per l’acquisto di nuovi giocatori.
      </p>
      <p>
        <b>Esempio:</b> Decido di rinnovare un giocatore i primi giorni di
        agosto spendendo X e successivamente di venderlo ad un altro presidente
        per la cifra Y. Se, dopo la compra-vendita tra i partecipanti della
        fanta-Lega, il giocatore reale viene venduto (all’estero o in Serie B),
        viene resa al nuovo proprietario la cifra X.
      </p>
      <p>
        Va comunque tenuto presente che si possono anche tenere giocatori non
        più in Serie A (ma acquistati regolarmente quando si trovavano in Serie
        A dato che gli si rinnova il contratto). <br />Si continua ovviamente
        però a pagare lo stipendio come se fossero in Serie A e non sono
        spostabili nella rosa a meno che non tornino nella massima serie del
        nostro campionato.
      </p>
    </ion-card-body></ion-card
  >
</ion-content>
