<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-select
      style="width: 100%; font-weight: bold; font-size: larger"
      (ionChange)="changeTeam($event)"
      value="{{teamId}}"
      required
    >
      <ion-select-option *ngFor="let team of teams" value="{{team.teamId}}">
        <b>{{team.name}}</b>
      </ion-select-option>
    </ion-select>
    <!--
    <mat-form-field
      style="width: 100%; font-weight: bold; font-size: larger"
      appearance="fill"
    >
      <select
        matNativeControl
        (change)="changeTeam()"
        [(ngModel)]="teamId"
        name="teamId"
        required
      >
        <option *ngFor="let team of teams" value="{{team.teamId}}">
          <b>{{team.name}}</b>
        </option>
      </select>
    </mat-form-field>-->
  </ion-toolbar>
</ion-header>
<!---->

<ion-content class="cnt-balance" [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="label"><b>Bilancio totale:</b></ion-col>
        <ion-col
          [ngClass]="{'positiveValue': balance?.totalBalance >= 0, 'negativeValue': !(balance?.totalBalance >= 0)}"
        >
          {{balance?.totalBalance | currency:'EUR'}}
        </ion-col>
      </ion-row>
      <ion-row><div class="separator"></div></ion-row>
      <ion-row>
        <ion-col class="label" style="margin: auto 0">Stagione:</ion-col>
        <ion-col
          ><ion-select
            style="padding-left: 0; color: rgb(24, 83, 201)"
            (ionChange)="changeSeason($event)"
            value="{{seasonBalance?.season}}"
            placeholder="Scegli una Stagione"
            class="px-0 py-0"
          >
            <ion-select-option
              value="{{season?.season}}"
              *ngFor="let season of seasons"
              >Stagione {{season?.season}}
            </ion-select-option>
          </ion-select></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col class="label"><b>Bilancio stagionale</b></ion-col>
        <ion-col
          [ngClass]="{'positiveValue': seasonBalance?.annualBalance >= 0, 'negativeValue': !(seasonBalance?.annualBalance >= 0)}"
          >{{seasonBalance?.annualBalance | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <!--<ion-row>
        <ion-button (click)="navigateToRenewal()">Calcola rinnovi</ion-button>
      </ion-row>-->
    </ion-grid>
  </ion-card>
  <ion-card
    ><ion-grid>
      <ion-row>
        <ion-col class="category"><b>ENTRATE</b></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label">Trasferimenti:</ion-col>
        <ion-col class="value"
          >{{(seasonBalance?.incomes?.transfers ?
          seasonBalance?.incomes?.transfers : 0) | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.incomes?.refunds">
        <ion-col class="label">Rimborsi:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.incomes?.refunds | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.incomes?.firstIndemnities">
        <ion-col class="label">Indennità-settembre:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.incomes?.firstIndemnities |
          currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.incomes?.secundIndemnities">
        <ion-col class="label">Indennità-gennaio:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.incomes?.secundIndemnities |
          currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.incomes?.awards">
        <ion-col class="label">Premi:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.incomes?.awards | currency:'EUR'}}</ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card
    ><ion-grid>
      <ion-row>
        <ion-col class="category"><b>USCITE</b></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="label">Rinnovi:</ion-col>
        <ion-col class="value"
          >{{( seasonBalance?.outings?.renewals ?
          seasonBalance?.outings?.renewals : 0)| currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.firstAuction">
        <ion-col class="label">Asta-settembre:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.outings?.firstAuction | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.secondAuction">
        <ion-col class="label">Asta-gennaio:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.outings?.secondAuction | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col class="label">Trasferimenti:</ion-col>
        <ion-col class="value"
          >{{( seasonBalance?.outings?.transfers ?
          seasonBalance?.outings?.transfers : 0) | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col class="label">Spostamenti:</ion-col>
        <ion-col class="value"
          >{{( seasonBalance?.outings?.displacements ?
          seasonBalance?.outings?.displacements : 0) | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.terminations">
        <ion-col class="label">Rescissioni:</ion-col>
        <ion-col class="value"
          >{{(seasonBalance?.outings?.terminations ?
          seasonBalance?.outings?.terminations : 0)| currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.taxes">
        <ion-col class="label">Tasse:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.outings?.taxes | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.fines">
        <ion-col class="label">Penali:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.outings?.fines | currency:'EUR'}}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="seasonBalance?.outings?.fantabet">
        <ion-col class="label">Fantaschedine:</ion-col>
        <ion-col class="value"
          >{{seasonBalance?.outings?.fantabet | currency:'EUR'}}</ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
