.cnt-balance {
  --background: none;
  background-color: var(--ion-color-primary);

  ion-card {
    background-color: var(--ion-color-primary-contrast);
    font-weight: bold;
    .category {
      text-decoration: underline;
      color: var(--ion-color-primary);
    }
    .label {
      color: var(--ion-color-primary);
    }
    .value {
      background-color: var(--ion-color-primary);
      color: white;
    }
    ion-button {
      margin: 1em auto;
    }
  }
}

.separator {
  height: 1px;
  background-color: var(--ion-color-primary);
  width: 100%;
  margin: auto;
}

.positiveValue {
  color: forestgreen;
  font-size: 1rem;
  font-weight: bold;
}
.negativeValue {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
