<ion-header>
  <ion-toolbar>
    <ion-title>Coppa</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Fase a gironi</h3>
    <p>
      La Coppa è composta da due gironi di sei squadre che si affrontano (andata
      e ritorno) nella 10°, 12°, 14°, 16°, 18°, 20°, 22°, 24°, 25°,26° giornata di Serie
      A (possibili variazioni causate dalla specificità della singola stagione).
    </p>
    <p>
      Per ogni girone passano le prime quattro squadre; le prime due squadre di
      ogni girone avanzano nell’<b>upper bracket</b>. <br />
      La terza e la quarta avanzano nel <b>lower bracket</b>.
    </p>
  </ion-card>
</ion-content>
