<ion-header>
  <ion-toolbar>
    <ion-title>Correttezza</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>
      Fino alla 28° giornata è consentito a ogni squadra dimenticare per una
      volta di inserire in tempo la formazione. <br />
      Dalla seconda volta, o semplicemente, dalla 28° in poi è prevista
      un’ammenda di 5€ fissa. <br />La formazione può essere inserita fino a
      cinque minuti prima della prima partita della giornata di Serie A.
    </p>
    <p>
      Sono severamente vietate le transazioni di denaro fra fantallenatori al di
      fuori dei contratti depositati in lega.
    </p>
    <p>
      Viene calcolata e ufficializzata una giornata di fantacalcio solo nel caso
      in cui siano state giocate almeno 9 partite sulle 10 della relativa
      giornata di seria A. <br />
      Viene assegnato il 6 politico alla decima partita solo se tra quest’ultima
      e la nona è stato giocato un intero turno di seria A.
    </p>
    <p>
      Il presidente di ogni squadra è tenuto dichiarare la propria
      partecipazione per la stagione successiva entro le due settimane seguenti
      la fine del campionato corrente, qualora un presidente partecipante decida
      di lasciare la lega in un secondo momento (dopo aver dato quindi la
      conferma), non avrà possibilità di eseguire trattative sul mercato e nel
      caso ne abbia già eseguite sono considerate nulle.
    </p>
  </ion-card>
</ion-content>
