<ion-header>
  <ion-toolbar>
    <ion-title>Montepremi</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h5>Campionato</h5>

    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Primo</ion-col>
        <ion-col>26%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Secondo</ion-col>
        <ion-col>17,2%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Terzo</ion-col>
        <ion-col>11,5%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Quarto</ion-col>
        <ion-col>7,8%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Quinto</ion-col>
        <ion-col>5,4%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Sesto</ion-col>
        <ion-col>3,7%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Settimo</ion-col>
        <ion-col>2,5%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Ottavo</ion-col>
        <ion-col>1,6%</ion-col>
      </ion-row>
    </ion-grid>

    <h5>Coppa</h5>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Primo</ion-col>
        <ion-col>13,8%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Secondo</ion-col>
        <ion-col>6,1%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Terzo</ion-col>
        <ion-col>2,5%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Quarto</ion-col>
        <ion-col>0,9%</ion-col>
      </ion-row>
    </ion-grid>

    <h5>Fantapunti</h5>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Miglior punteggio in giornata</ion-col>
        <ion-col>1%</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
