<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="balance">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Bilancio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team">
      <ion-icon name="football"></ion-icon>
      <ion-label>Rosa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="youth">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Primavera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="free">
      <ion-icon name="finger-print"></ion-icon>
      <ion-label>Svincolati</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
