<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Asta intermedia</h3>
    <p>
      L’asta intermedia deve essere fatta dopo la fine del mercato di gennaio
      reale, ma prima della giornata seguente di Serie A con le stesse
      condizioni dell’asta precampionato.
    </p>
    <p>
      I giocatori arrivati (tesserati) in Serie A dopo il primo gennaio o dopo
      il primo di luglio non possono essere acquistati come svincolati prima
      dell’asta collettiva successiva.
    </p>
  </ion-card>
</ion-content>
