<ion-header>
  <ion-toolbar>
    <ion-title>Scambi e Trattative</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Clausole</h3>
    <p>
      Le clausole che possono essere aggiunte alle trattative si dividono in 3
      categorie principali:
    </p>
    <ol>
      <li>rescissorie</li>
      <li>di modifica</li>
      <li>di aggiunta</li>
    </ol>
    <ol>
      <li>
        Le clausole rescissorie possono essere applicate alle trattative di
        prestito per annullarlo durante la stagione al seguito di un evento.
        Possono essere di due tipi: quelle che vengono attivate da eventi extra
        Lega e quelle che invece vengono attivate da scelte o situazioni intra
        Lega. La differenza tra le due è che le prime possono annullare la
        trattativa durante ogni finestra di mercato del martedì mentre le
        seconde solo durante le apposite finestre di mercato tra fantallenatori.
      </li>
      <li>
        Le clausole di modifica possono modificare una trattativa a seguito di
        un evento sia intra che extra Lega. Possono essere cambiate le cifre dei
        bonus, la tipologia dei bonus, altre clausole… ma non possono essere
        modificate le caratteristiche intrinseche della trattativa; un prestito
        non può diventare una cessione a titolo definitivo e viceversa.
      </li>
      <li>
        Le clausole di aggiunta, se attivate, ampliano i diritti o gli obblighi
        in una trattativa. Possono aggiungere diritti di riscatto, diritti di
        recompra, diritti di prelazione e l'obbligo di riscatto. Al contrario
        delle clausole rescissorie, le clausole di aggiunta non permettono di
        far valere tale diritto al di fuori delle apposite finestre di mercato.
        Se non viene specificata la data per avvalersi di tale diritto/obbligo
        (nel caso scattasse), questo varrà solo per la successiva finestra di
        mercato.
      </li>
    </ol>
    <p>
      I soldi che vengono scambiati a causa di una clausola vengono considerati
      alla stregua dei conguagli economici modificando quindi i valori finali
      dei giocatori.
    </p>
    <p>
      <b>Eventi extra Lega:</b> infortuni, compra vendita nel mercato reale,
      raggiungimento di una cifra di gol/assist/presenze, etc.
    </p>
    <p>
      <b>Eventi intra Lega:</b> scelta di un fantallenatore, posizione in
      classifica in campionato, posizione in coppa etc.
    </p>
    <p>
      Se in una trattativa di prestito con diritto di riscatto non viene
      specificato il periodo o la data entro la quale ci si possa avvalere di
      tale diritto, questo scadrà dopo una settimana dall’inizio del mercato
      estivo.
    </p>
    <p>
      È possibile annullare una trattativa o una parte di essa durante le
      finestre di mercato se i due fantallenatori coinvolti trovano un accordo e
      se non sono state giocate giornate di Serie A tra l’ufficializzazione
      della trattativa e l’annullamento.
    </p>
    <p>
      È possibile aggiungere giocatori, clausole e bonus ad una trattativa già
      ufficializzata purché tale aggiunta avvenga nella stessa sessione di
      mercato della trattativa.
    </p>
    <p>
      È possibile, inoltre, annullare una trattativa o una parte di essa durante
      una finestra di mercato se i due fantallenatori coinvolti trovano un
      accordo e se le due squadre non hanno ancora ufficializzato una trattativa
      nella suddetta finestra di mercato. <br />Tale annullamento viene
      considerato come una trattativa.
    </p>
    <p>
      <b>Attenzione:</b> per la seconda casistica possono essere annullate solo
      le trattative o le parti di esse che sono continuative nel futuro
      prossimo; possono essere annullati bonus, clausole che ancora non si sono
      attivate, prestiti, etc… ma non si possono annullare trattative a titolo
      definitivo o clausole che si sono già attivate.
    </p>
  </ion-card>
</ion-content>
