<ion-header>
  <ion-toolbar>
    <ion-title>Aste e proprietà</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Aste</h3>
    <p>L’asta è consentita solo nelle seguenti condizioni:</p>
    <ul>
      <li>Di persona.</li>
      <li>Su Skype, face time, etc.</li>
      <li>
        Non esiste la possibilità di partecipare all’asta tramite WhatsApp o
        altre App di messaggistica.
      </li>
    </ul>
    <p>
      L’asta verrà condotta senza l’uso dei fantamilioni, bensì tramite la spesa
      di soldi reali (<b>unica valuta ammessa: euro</b>).
    </p>
    <p>
      Non c’è dunque un tetto massimo per ogni squadra, ma i soldi investiti
      sono a discrezione del presidente della squadra. <br />
      Pur non essendoci un tetto massimo fissato, esiste un limite superato il
      quale dovranno essere pagate delle <b>tasse</b> sull’eccedenza seguendo le
      aliquote mostrate nella tabella.
    </p>
    <p>
      Il valore limite viene calcolato sfruttando la conoscenza delle cifre
      spese dalle squadre l’anno precedente. <br />
      Il limite è uguale al <b>150%</b> della media delle spese l’anno
      precedente.
    </p>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Aliquote</ion-col>
        <ion-col>Limite</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>40%</ion-col>
        <ion-col>150%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>60%</ion-col>
        <ion-col>175%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>90%</ion-col>
        <ion-col>200%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>130%</ion-col>
        <ion-col>225%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>180%</ion-col>
        <ion-col>250%</ion-col>
      </ion-row>
    </ion-grid>
    <p>
      Alla nascita di una nuova lega è possibile scegliere tra due possibilità:
    </p>
    <ul>
      <li>
        Ipotizzare una cifra media forfettaria per limitare le spese anche alla
        prima asta
      </li>
      <li>
        Non porre limitazioni alla prima asta e limitare le spese dal secondo
        anno essendo a conoscenza della media reale.
      </li>
    </ul>

    <p>
      In caso di prestiti con diritto o obbligo di riscatto la cui data ultima
      per far valere tale diritto cade nel periodo estivo, la spesa ricade nel
      bilancio della stagione corrente anche se si pagano le tasse come se fosse
      stata contabilizzata l’anno precedente. <br />Così facendo, eventuali
      tasse vengono aggiunte al montepremi dell’anno corrente in quanto il
      riscatto avviene dopo la distribuzione dei premi.
    </p>
    <p>
      I soldi spesi durante l’asta (insieme ad altri, come lo spostamento
      rosa-primavera e altri che verranno descritti dopo) verranno a costituire
      i vari premi finali, che quindi non potranno essere stabiliti con
      esattezza prima delle ultime giornate di campionato, e che chiaramente
      dipenderanno da quanto ogni singolo presidente deciderà di investire.<br />
      Dunque, non sarà egualitaria, tra tutte le squadre, la spesa in soldi
      reali per costruirsi la squadra.
    </p>
    <p>
      Il prezzo di partenza di qualunque giocatore è di <b>0,10€</b> e ogni
      rilancio deve essere di almeno 0,10€ fino a che l’asta non raggiunge i
      20€.<br />
      Dopo il rilancio minimo sarà 0,20€ fino a che non viene raggiunta la cifra
      di 50€. <br />
      Superati i 50€ il rilancio minimo diventa 0,50€ e allo stesso modo 1€
      superati i 100€.
    </p>
  </ion-card>
</ion-content>
