<ion-header>
  <ion-toolbar>
    <ion-title>Seleziona squadra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cnt-home">
  <div style="padding: 1rem">
    <mat-card
      *ngFor="let team of teams"
      (click)="navigateToTeam(team.teamId)"
      class="cnt"
      ><div
        ><img-loader
          src="assets/img/new_piccio/{{logoMap[team.teamId-1]}}"
          [spinner]="true"
          [useImg]="true"
        ></img-loader
        ><!--<img src="assets/img/new_piccio/{{logoMap[team.teamId-1]}}" alt="" />-->
        <p>{{team?.name}}</p></div
      ></mat-card
    >
  </div>
</ion-content>
