<ion-header>
  <ion-toolbar>
    <ion-title>Coppa</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Fase finale</h3>
    <p>
      Le squadre accoppiate, sia nel lower che nell’upper bracket si scontrano
      con scontro diretto. <br />I vincenti passano al turno successivo.<br />
      I perdenti nell’upper bracket scendono nel lower bracket e si scontrano
      con i vincenti del turno precedente. <br />I perdenti del lower bracket
      escono dalla competizione.
    </p>
    <p>La struttura della coppa viene mostrata nella figura sottostante.</p>
    <img src="assets/img/cup.png" />
    <p>
      Il primo round del lower e dell’upper bracket verrà giocato alla 26°
      giornata di Serie A. <br />
      Il secondo round del lower bracket alla 28°. <br />Il secondo round
      dell’upper bracket e il terzo del lower alla 30°. <br />Il quarto round
      del lower bracket alla 31° giornata.<br />
      La finale si gioca alla 33° giornata di campionato.
    </p>
  </ion-card>
</ion-content>
