<ion-header>
  <ion-toolbar>
    <ion-title>Fantascivolizia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cnt-home">
  <div style="padding: 1rem">
    <mat-card routerLink="/team-list"
      ><ion-row>
        <ion-icon style="color: black"  name="football"></ion-icon>
        <p>Rose</p>
      </ion-row></mat-card
    >

    <mat-card routerLink="/free"
      ><ion-row>
        <ion-icon name="finger-print"></ion-icon>
        <p>Svincolati</p></ion-row
      ></mat-card
    >

    <mat-card routerLink="/awards">
      <ion-row>
        <ion-icon style="color: gold" name="trophy"></ion-icon>
        <p>Montepremi</p></ion-row
      ></mat-card
    >

    <mat-card routerLink="/select-teams">
      <ion-row>
        <ion-icon style="color: lightseagreen" name="git-compare"></ion-icon>
        <p>Tool Scambi</p></ion-row
      ></mat-card
    >

   <!-- <mat-card routerLink="/rule-book">
      <ion-row>
        <ion-icon style="color: grey" name="book"></ion-icon>
        <p>Regolamento</p></ion-row
      ></mat-card
    >-->
  </div>
</ion-content>
