.cnt-home {
  --background: none;
  background-color: #424242;
  mat-list-item {
    margin: 2.5em 0;
    .cnt {
      border: 1px solid grey;
      background-color: white;
      color: black;
      width: 100%;
      padding: 0;
      img {
        height: 3em;
        margin: 1em;
        border-radius: 50%;
      }
      p {
        color: #000;
        margin: auto 0;
      }
    }
  }
}
