.cnt-balance {
  --background: none;
 background-image:url('/app-rose/assets/img/sea.jpeg');
  background-repeat: repeat;
  ion-card {
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
    font-weight: bold;

    ion-button {
      margin: 1em auto;
    }
  }
}

ion-grid.ion-margin {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-col:not(:first-child):not(:last-child) {
    border-top: 1px solid var(--ion-color-primary);
    border-right: 1px solid var(--ion-color-primary);
  }

  ion-col:first-child {
    border: 1px solid var(--ion-color-primary);
    border-bottom: 0;
    border-right: 0;
    border-top-color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);

    font-weight: bold;
    color: white;
  }
  ion-col:last-child {
    border-right: 1px solid var(--ion-color-primary);
    border-top: 1px solid var(--ion-color-primary);
  }

  ion-row:last-child {
    border-bottom: 1px solid var(--ion-color-primary);
  }
}

.separator {
  height: 1px;
  background-color: var(--ion-color-primary-contrast);
  width: 100%;
  margin: auto;
}

h5 {
  margin-left: 10px;
}
