<ion-header>
  <ion-toolbar>
    <ion-title>Tool Scambi</ion-title>
    <!--
    <div class="btn-cnt">
      <ion-icon
        slot="end"
        routerLink="/select-teams"
        name="swap-horizontal-outline"
      ></ion-icon>
      <ion-icon routerLink="home" slot="end" name="home"></ion-icon>
    </div>-->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="container">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="{{firstTeamName | cutLongName}}">
        <app-team-summary
          (extraEvent)="setExtra(1, $event)"
          (removeEvent)="remove($event)"
          [teamId]="firstTeamId"
          teamPos="1"
          [team]="firstTeam"
          [teamValues]="firstTeamValues"
          [teamCols]="firstTeamCols"
          [finalTeamCols]="finalFirstTeamCols"
        ></app-team-summary>
      </mat-tab>
      <mat-tab label="{{secondTeamName | cutLongName}}">
        <app-team-summary
          (extraEvent)="setExtra(2, $event)"
          (removeEvent)="remove($event)"
          [teamId]="secondTeamId"
          teamPos="2"
          [team]="secondTeam"
          [teamValues]="secondTeamValues"
          [teamCols]="secondTeamCols"
          [finalTeamCols]="finalSecondTeamCols"
        ></app-team-summary>
      </mat-tab>
    </mat-tab-group>
  </ion-card>
</ion-content>
