<ion-header>
  <ion-toolbar>
    <ion-title>Scambi e Trattative</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Bonus</h3>
    <p>
      I bonus che possono essere aggiunti alle trattative si dividono in due
      categorie:bonus di squadra e i bonus sul giocatore.
    </p>
    <p>
      I bonus di squadra sono scollegati dall’andamento dei giocatori e per
      questo non modificano il valore di quest’ultimi.
    </p>
    <p>Possono essere correlati ai seguenti eventi:</p>
    <ul>
      <li>Vittoria in campionato</li>
      <li>Vittoria in Coppa</li>
    </ul>
    <p>
      I bonus sui giocatori modificano sempre il valore dei giocatori secondo le
      equazioni illustrate nell’Appendice 1 del Regolamento in PDF.
    </p>
    <p>Possono essere correlati ai seguenti eventi:</p>
    <ul>
      <li>Gol</li>
      <li>Assist</li>
      <li>Presenze</li>
      <li>Voto superiore a X</li>
      <li>Fantavoto superiore a X</li>
    </ul>
    <p>
      Non è possibile inserire dei bonus che non abbiano a che fare o con le
      squadre o con i giocatori che fanno parte della trattativa.
    </p>
  </ion-card>
</ion-content>
