<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-select
      style="width: 100%; font-weight: bold; font-size: larger"
      (ionChange)="changeTeam($event)"
      value="{{teamId}}"
      required
    >
      <ion-select-option *ngFor="let team of teams" value="{{team.teamId}}">
        <b>{{team.name}}</b>
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table mat-table [dataSource]="players" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? toggleSelect(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef>R</th>
      <td mat-cell *matCellDef="let element">
        <b
          [ngStyle]="{'background-color': computeRoleColor(element.role)}"
          class="role"
          >{{element.role}}</b
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{element.name | formatName}}</td>
    </ng-container>

    <ng-container matColumnDef="quot">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Q</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        {{element.quot}}
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Val</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        {{element.value | currency:'EUR'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="nextContractRenewal">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Rinn %</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        {{element.nextContractRenewal *100 | round }} %
      </td>
    </ng-container>

    <ng-container matColumnDef="nextPaymentValue">
      <th class="align-right" mat-header-cell *matHeaderCellDef>Rinn</th>
      <td class="align-right" mat-cell *matCellDef="let element">
        {{element.nextPaymentValue | currency:'EUR'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="toggleSelect(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{finalRenewal | currency:'EUR'}}</ion-title>
  </ion-toolbar>
</ion-footer>
