<ion-header>
  <ion-toolbar>
    <ion-title>Montepremi</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>Aiuti di Lega</h3>
    <p>
      A partire dalla seconda annata fantacalcistica sarà possibile, per le
      ultime squadre in classifica, usufruire di un bonus spendibile solamente
      all’asta di settembre.
    </p>
    <p>
      Questi bonus (6 in tutto) potranno essere vinti dalle ultime 8 squadre in
      classifica tramite un’estrazione. Le percentuali di vittoria per ogni
      squadra sono in funzione della posizione in classifica l’anno precedente:
      le squadre arrivate negli ultimi tre posti avranno più possibilità di
      vincere.
    </p>
    <p>
      Il valore dei premi e le percentuali per ogni posizione in classifica sono
      mostrati nella tabella seguente.
    </p>

    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Posizione in classifica</ion-col><ion-col>Vittoria %</ion-col
        ><ion-col>Bonus spesa</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>12°</ion-col>
        <ion-col>31,2%</ion-col>
        <ion-col>1,3%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>11°</ion-col>
        <ion-col>31,2%</ion-col>
        <ion-col>0,81%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>10°</ion-col>
        <ion-col>28,9%</ion-col>
        <ion-col>0,53%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>9°</ion-col>
        <ion-col>4,2%</ion-col>
        <ion-col>0,32%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>8°</ion-col>
        <ion-col>2,5%</ion-col>
        <ion-col>0,21%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>7°</ion-col>
        <ion-col>1,3%</ion-col>
        <ion-col>0,14%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>6°</ion-col>
        <ion-col>0,6%</ion-col>
        <ion-col>0%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>5°</ion-col>
        <ion-col>0,1%</ion-col>
        <ion-col>0%</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
